In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [42]:
df = pd.read_csv("ncr_ride_bookings.csv")

In [43]:
df.head(3)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [45]:
df.shape

(150000, 21)

In [54]:
df.describe()

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
count,139500.000000,102000.000000,10500.0,27000.0,9000.0,102000.000000,102000.000000,93000.000000,93000.000000
mean,8.456352,29.149636,1.0,1.0,1.0,508.295912,24.637012,4.230992,4.404584
std,3.773564,8.902577,0.0,0.0,0.0,395.805774,14.002138,0.436871,0.437819
min,2.000000,10.000000,1.0,1.0,1.0,50.000000,1.000000,3.000000,3.000000
25%,5.300000,21.600000,1.0,1.0,1.0,234.000000,12.460000,4.100000,4.200000
50%,8.300000,28.800000,1.0,1.0,1.0,414.000000,23.720000,4.300000,4.500000
75%,11.300000,36.800000,1.0,1.0,1.0,689.000000,36.820000,4.600000,4.800000
max,20.000000,45.000000,1.0,1.0,1.0,4277.000000,50.000000,5.000000,5.000000

In [46]:
df.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [53]:
missing_data = df.isnull().mean()

missing_data[missing_data>0].sort_values(ascending=False)

Incomplete Rides                     0.94
Incomplete Rides Reason              0.94
Cancelled Rides by Customer          0.93
Reason for cancelling by Customer    0.93
Cancelled Rides by Driver            0.82
Driver Cancellation Reason           0.82
Driver Ratings                       0.38
Customer Rating                      0.38
Avg CTAT                             0.32
Ride Distance                        0.32
Booking Value                        0.32
Payment Method                       0.32
Avg VTAT                             0.07
dtype: float64

In [61]:

df.columns

Index(['Date', 'Time', 'Booking ID', 'Booking Status', 'Customer ID',
       'Vehicle Type', 'Pickup Location', 'Drop Location', 'Avg VTAT',
       'Avg CTAT', 'Cancelled Rides by Customer',
       'Reason for cancelling by Customer', 'Cancelled Rides by Driver',
       'Driver Cancellation Reason', 'Incomplete Rides',
       'Incomplete Rides Reason', 'Booking Value', 'Ride Distance',
       'Driver Ratings', 'Customer Rating', 'Payment Method'],
      dtype='object')

In [68]:
print((df["Booking Status"].unique()))
print(df["Booking Status"].value_counts())

['No Driver Found' 'Incomplete' 'Completed' 'Cancelled by Driver'
 'Cancelled by Customer']
Booking Status
Completed                93000
Cancelled by Driver      27000
No Driver Found          10500
Cancelled by Customer    10500
Incomplete                9000
Name: count, dtype: int64

In [71]:
df.select_dtypes(include='number').columns

Index(['Avg VTAT', 'Avg CTAT', 'Cancelled Rides by Customer',
       'Cancelled Rides by Driver', 'Incomplete Rides', 'Booking Value',
       'Ride Distance', 'Driver Ratings', 'Customer Rating'],
      dtype='object')

In [85]:
def clean_ready_dataset(df):
    df_clean = df.copy()
    df_clean["Date"] = pd.to_datetime(df_clean["Date"])
    df_clean["DateTime"] = pd.to_datetime(df_clean["Date"].astype(str) + ' ' + df_clean["Time"].astype(str))
    df_clean["Hours"] = df_clean["DateTime"].dt.hour
    df_clean["Day"] = df_clean["DateTime"].dt.day_name()
    df_clean["Month"] = df_clean["DateTime"].dt.month
    df_clean["Weekend"] = df_clean["DateTime"].dt.weekday >= 5
    
    numeric_cols = ['Booking Value', 'Ride Distance', 'Driver Ratings', 'Customer Rating']
    for numeric in numeric_cols:
        df_clean[numeric] = pd.to_numeric(df_clean[numeric],errors="coerce")
    
    df_clean["Successful"] = df_clean["Booking Status"] == "Completed"
    df_clean["Cancelled_Customer"] = df_clean["Cancelled Rides by Customer"].notna()
    df_clean["Cancelled_Driver"] = df_clean["Cancelled Rides by Driver"].notna()
    
    def categorize_status(status):
        if status == 'Completed':
            return 'Completed'
        elif 'Cancelled' in str(status):
            return 'Cancelled'
        elif status == 'No Driver Found':
            return 'No Driver Found'
        else:
            return 'Other'
        
    df_clean["Status Category"] = df_clean["Booking Status"].apply(categorize_status)
    
    return df_clean
df = clean_ready_dataset(df)

In [86]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Payment Method,DateTime,Hours,Day,Month,Weekend,Successful,Cancelled_Customer,Cancelled_Driver,Status Category
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,2024-03-23 12:29:38,12,Saturday,3,True,False,False,False,No Driver Found
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,UPI,2024-11-29 18:01:39,18,Friday,11,False,False,False,False,Other
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,Debit Card,2024-08-23 08:56:10,8,Friday,8,False,True,False,False,Completed
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,UPI,2024-10-21 17:17:25,17,Monday,10,False,True,False,False,Completed
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,UPI,2024-09-16 22:08:00,22,Monday,9,False,True,False,False,Completed

In [90]:
def create_executive_summary(df):
    """Generate key business metrics"""
    
    total_rides = len(df)
    successful_rides = df['Successful'].sum()
    success_rate = (successful_rides / total_rides) * 100
    
    total_revenue = df[df['Successful']]['Booking Value'].sum()
    avg_ride_value = df[df['Successful']]['Booking Value'].mean()
    
    avg_distance = df[df['Successful']]['Ride Distance'].mean()
    avg_driver_rating = df[df['Successful']]['Driver Ratings'].mean()
    avg_customer_rating = df[df['Successful']]['Customer Rating'].mean()
    
    # Cancellation analysis
    customer_cancellations = df['Cancelled_Customer'].sum()
    driver_cancellations = df['Cancelled_Driver'].sum()
    
    return {
        'total_rides': total_rides,
        'successful_rides': successful_rides,
        'success_rate': success_rate,
        'total_revenue': total_revenue,
        'avg_ride_value': avg_ride_value,
        'avg_distance': avg_distance,
        'avg_driver_rating': avg_driver_rating,
        'avg_customer_rating': avg_customer_rating,
        'customer_cancellations': customer_cancellations,
        'driver_cancellations': driver_cancellations
    }

# Get our key metrics
metrics = create_executive_summary(df)

print("üéØ EXECUTIVE SUMMARY")
print("=" * 50)
print(f"üìä Total Rides Analyzed: {metrics['total_rides']:,}")
print(f"‚úÖ Successful Rides: {metrics['successful_rides']:,}")
print(f"üìà Success Rate: {metrics['success_rate']:.1f}%")
print(f"üí∞ Total Revenue: ‚Çπ{metrics['total_revenue']:,.0f}")
print(f"üíµ Average Ride Value: ‚Çπ{metrics['avg_ride_value']:.0f}")
print(f"üõ£Ô∏è Average Distance: {metrics['avg_distance']:.1f} km")
print(f"‚≠ê Avg Driver Rating: {metrics['avg_driver_rating']:.2f}/5")
print(f"‚≠ê Avg Customer Rating: {metrics['avg_customer_rating']:.2f}/5")
print(f"‚ùå Customer Cancellations: {metrics['customer_cancellations']:,}")
print(f"üö´ Driver Cancellations: {metrics['driver_cancellations']:,}")

üéØ EXECUTIVE SUMMARY
==================================================
üìä Total Rides Analyzed: 150,000
‚úÖ Successful Rides: 93,000
üìà Success Rate: 62.0%
üí∞ Total Revenue: ‚Çπ47,260,574
üíµ Average Ride Value: ‚Çπ508
üõ£Ô∏è Average Distance: 26.0 km
‚≠ê Avg Driver Rating: 4.23/5
‚≠ê Avg Customer Rating: 4.40/5
‚ùå Customer Cancellations: 10,500
üö´ Driver Cancellations: 27,000